body {
  background-color: #1e1e2f;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

button {
  background: #8247e5;
  color: white;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
